/* CANVAS */

.canvas {
    position: absolute;
    background-color: #EEEEEE;
    border: 2px solid #000000;
    z-index: 0;
}

/* CONTENT */

.content {
    position: relative;
    float: left;
    background-color: #EEEEEE;
    font-weight: bold;
    z-index: 10;
}


/* NAVIGATION */

.nav {
    position: absolute;
    background-color: #00FF00;
    z-index: 30;
    line-height: 0pt;
}

/* TILES */

.tile {
    position: absolute;
    background-color: #FFFFFF;
    border-color: #444444;
    border-style: solid;
    z-index: 50;
}

